<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecohelp">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaves"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,RtlEnabled"
        tools:targetApi="donut">

        <activity android:name="com.example.Activities.oldCouponsActivity" />
        <activity android:name="com.example.Activities.changePasswordActivity" />
        <activity
            android:name="com.example.Activities.splashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Activities.newPasswordActivity" />
        <activity
            android:name="com.example.Activities.SettingsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.example.Activities.MenuActivity"
            android:label="@string/title_activity_test"

            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.example.Activities.ShopActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.example.Activities.RegistationActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.example.Activities.MainActivity"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name="com.example.Activities.LibraryActivity"
            tools:ignore="InnerclassSeparator" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>

        <activity
            android:name="com.example.Activities.BaseActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.example.Activities.DecoderActivity"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>